@import "tailwindcss";

:root {
  --bg-app: #0a0a0a;
  --bg-card: #131315;
  --accent-gold: #dfa553;
  --accent-red: #eb6f62;
  --accent-green: #53c97f;
}

body {
  background-color: var(--bg-app);
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbars completely */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}