@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #0a0a0a;
  --bg-card: #141416;
  --text-main: #ffffff;
  --text-muted: #71717a;
  /* zinc-500 */
}

body {
  background-color: var(--tg-theme-bg-color, var(--bg-main));
  color: var(--tg-theme-text-color, var(--text-main));
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbars for a clean mobile app feel */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}